<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">&nbsp;&nbsp;&nbsp;Online Voting System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
        <a class="nav-link" href="index">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Home</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="#section_2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#section_3" tabindex="-1" aria-disabled="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Team Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#section_5" tabindex="-1" aria-disabled="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#section_6" tabindex="-1" aria-disabled="true">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact Us</a>
        </li>
      </ul>
      <form class="d-flex">
        <a class = "login-btn-link btn btn-primary" href="login">Login</a>&nbsp;
        <a class ="signup-btn-link btn btn-primary" href="register">Register</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </form>
    </div>
  </div>
</nav>
