<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
    <main>
    <section>
      <h2>About</h2>
      <p>
        The Online Voting System is a platform designed to facilitate secure and efficient voting processes over the internet. It provides a convenient way for voters to cast their votes remotely, eliminating the need for physical polling locations.
      </p>
      <p>
        Our system ensures the integrity and confidentiality of votes through robust encryption and authentication mechanisms. It allows voters to securely access their ballots, review candidate information, and submit their votes from the comfort of their own devices.
      </p>
      <p>
        We prioritize the accuracy and fairness of elections by implementing strict security measures, including prevention of duplicate voting and protection against tampering or unauthorized access. The system also provides transparency through comprehensive audit trails and monitoring capabilities.
      </p>
      <p>
        With the Online Voting System, we aim to modernize the electoral process, increase voter turnout, and enhance accessibility for all eligible voters. We believe in the power of technology to strengthen democratic practices and ensure that every voice is heard.
      </p>
    </section>
  </main>
</body>
</html>