<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    {{>navbar}}
     <main>
    <section>
      <h2>Contact Us</h2>
      <p>If you have any questions, feedback, or need assistance regarding the Online Voting System, please feel free to reach out to us using the contact information provided below:</p>
      
      <div class="contact-info">
        <h3>Address:</h3>
        <p>123 Voting Street</p>
        <p>City, State, ZIP</p>
        
        <h3>Email:</h3>
        <p><a href="mailto:info@onlinevotingsystem.com">info@onlinevotingsystem.com</a></p>
        
        <h3>Phone:</h3>
        <p>+1 123-456-7890</p>
      </div>
    </section>
  </main>
    
</body>
</html>